{% extends 'base.html.twig' %}

{% block title %}Login
{% endblock %}

{% block body %}

    <form method="post">

        <input type="email" placeholder="Email" name="_username">

        <input type="password" placeholder="Mot de passe" name="_password">
        <button>Connexion</button>


    </form>
{% endblock %}
